# Dependencias
node_modules/

# Archivos generados
dist/
build/
*.zip
*.crx

# Logs
*.log

# Variables y configuración privada
.env
.env.*

# Visual Studio Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Temporales
*.tmp
*.swp
*~
